DJANGO_SECRET_KEY=change-me-to-a-50-char-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=gymapp
DB_USER=gymapp_user
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=changeme
